* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(../assets/23.jpg);
    background-repeat: repeat;
    background-size: cover;
    font-family: 'Fredoka One', cursive;
}
h1,h2,p{
    width: 100%;
    text-align: center;
}